.AboutPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    gap: 20px;
    text-align: center;
    font-weight: 500;
    h1{
        font-size: 1.5em;
        font-weight: 700;
    }
    height: calc(100vh - 122px); 
}