section.Typer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .TyperGame{
        height: calc(100vh - 123px);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .displayCurrentString{
        font-size: 1.5em;
        text-align: center;
    }
    .TextArea{
        background: inherit;
        border: none;
        color: inherit;
        font-family: Arial;
        font-size: 4em;
        resize: none;
        -ms-text-align-last: center;
        text-align-last: center;
        white-space: normal;
        width: 100%;
        
    }
    .TextArea::placeholder{
        color: black;
    }

    .LessonName {
        width: 100%;
        font-size: 2em;
        text-align: center;
        position: relative; /* Ensure the pseudo-element is positioned relative to the parent */
    }
    
    .LessonName::after {
        content: ""; /* Required to make the pseudo-element appear */
        display: block;
        width: 95%;
        height: 1px; /* Thickness of the underline */
        background-color: black; /* Color of the underline */
        position: absolute;
        bottom: -5px; /* Adjust this value to position the underline */
        left: 50%;
        transform: translateX(-50%); /* Center the underline */
    }

    .VoiceToggler{
        border: 1px solid black;
        padding: 25px 30px;
        border-radius: 5px;
        
    }

    .StartButton{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        h1{
            font-size: 2em;
        }

        .StartGameButton{
            background-color: $primary-blue;
            color: white;
            padding: 30px 40px;
            font-size: 2em;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .Options{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        .LessonMessage{
            font-size: 1.5em;
            font-weight: bold;
            border-bottom: 1px solid black;
        }
        .divMains{
            display: flex;
            gap: 40px;

            .divMainsDroite{
                text-align: right;
            }
        }

        .StartParagraph{
            width: 80%
        }
    }
}

.EndScreen{
    height: calc(100vh - 123px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h1{
        font-size: 2em;
    }


    .NameInputDiv {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
        
        label {
          font-size: 16px;
          font-weight: bold;
          //color: #333;
          margin-bottom: 8px;
        }
      
        input {
          width: 100%;
          max-width: 400px;
          padding: 10px;
          font-size: 14px;
          border: 1px solid;
          border-radius: 4px;
          transition: border-color 0.3s ease;
      
          &:focus {
            outline: none;
            border-color: $primary-blue;
          }
      
          &::placeholder {
            color: #888;
          }
        }
      }
      

    .BoutonDownload{
        border: 1px solid;
        padding: 30px 40px;
        border-radius: 5px;
        background-color: white;
    }
}

body.high-contrast{
    section.Typer{
        .TextArea::placeholder{
            color: $primary-white;
        }

        .LessonName::after {
            background-color: $primary-white;
        }

        .VoiceToggler{
            border-color: $primary-white;
        }
        .StartGameButton{
            background-color: $primary-white;
            color: black;
        }
        .LessonMessage{
            border-color: $primary-white;
        }
        .NameInputDiv{
            input{
                background-color: black;
            }
        }
        .BoutonDownload{
            background-color: black;
        }
    }
}